/* height of the container */
.leaflet-container {
  height: 50vh;
  border-radius: 10px;
  box-shadow: 2px 2px 20px -10px black;
}

@media screen and (max-width: 600px) {
  .leaflet-container {
    height: 40vh;
  }
}
@media screen and (max-width: 420px) {
  .leaflet-container {
    height: 30vh;
  }
}

.cluster-icon {
  background-color: #333;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px #fff;
}

.leaflet-bottom.leaflet-right {
  display: none;
}
